
<header>
  <h1 class="header-title">Christina-Triceps' Portfolio</h1>
</header>
<nav><a href="#works"><i class="fas fa-dumbbell"></i><span>Works</span></a><a class="profile" href="#profile"><i class="fas fa-user"></i><span>Profile</span></a><a href="#links"><i class="fas fa-link"></i><span>Links</span></a></nav>
<section id="works">
  <h2><i class="fas fa-dumbbell"></i><span>Works</span></h2>
  <div class="content">
    <div class="card">
      <div class="title">Play Frameworkハンズオン</div><img src="/assets/images/handson.png">
      <div class="about">Play Frameworkでの開発の基本を学習するためのハンズオンコンテンツです。<br>Codelabs形式でコンテンツを公開しています。<br><a href="https://christina-inching-triceps.github.io/codelabs/play-handson-lesson1/index.html#0">Lesson1</a><br><a href="https://christina-inching-triceps.github.io/codelabs/play-handson-lesson2/index.html#0">Lesson2</a></div>
    </div>
    <div class="card">
      <div class="title">storybook-for-htmlサンプル</div><img src="/assets/images/storybook.png">
      <div class="about">storybook-for-htmlの構築サンプルです。<br>実運用で現実的に利用できるように調整中になります。</div>
    </div>
  </div>
</section>
<section id="profile">
  <h2><i class="fas fa-user"></i><span>Profile</span></h2>
  <div class="content"></div>
</section>
<section id="links">
  <h2><i class="fas fa-link"></i><span>Links</span></h2>
  <div class="content"></div>
</section>