
<header>
  <h1 class="header-title">Christina-Triceps' Portfolio</h1>
</header>
<nav><a href="#works"><i class="fas fa-dumbbell"></i><span>Works</span></a><a class="profile" href="#profile"><i class="fas fa-user"></i><span>Profile</span></a><a href="#links"><i class="fas fa-link"></i><span>Links</span></a></nav>
<section id="works">
  <h2><i class="fas fa-dumbbell"></i><span>Works</span></h2>
  <div class="content">
    <div class="card-list">
      <div class="card">
        <div class="title">Play Frameworkハンズオン</div><img src="/assets/images/handson.png">
        <div class="about">
          <p>Play Frameworkでの開発の基本を学習するためのハンズオンコンテンツです。</p>
          <p>Codelabs形式でコンテンツを公開しています。</p>
          <p><a href="/codelabs/play-handson-lesson1/index.html#0">Lesson1</a></p>
          <p><a href="/codelabs/play-handson-lesson2/index.html#0">Lesson2</a></p>
        </div>
      </div>
      <div class="card">
        <div class="title">storybook-for-htmlサンプル</div><img src="/assets/images/storybook.png">
        <div class="about">
          <p>storybook-for-htmlの構築サンプルです。</p>
          <p>実運用で現実的に利用できるように調整中になります。</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="profile">
  <h2><i class="fas fa-user"></i><span>Profile</span></h2>
  <div class="content">
    <div class="profile">
      <div class="left font-gray"><img src="/assets/images/icon.png">
        <div class="name">クリスティーナ・インチング・トライセプス</div>
        <div class="name">Christina.Inching.Triceps</div>
      </div>
      <div class="right">
        <p>プログラマー系VTuber兼バ美肉おじさんとしてプログラミング配信をしています。</p>
        <p>主にScala, Angularを利用した開発をしていますが、現在は専らPlayハンズオン作成に注力中！！</p>
        <p>女の子のクリスティーナちゃんと、男の子のトライセプスくんが悪魔合体して生まれた概念です！</p><br>
        <p class="font-gray">キャプチャツール: OBS</p>
        <p class="font-gray">ボイスチェンジャー: GarageBand, 喉 (修行中)</p>
        <p class="font-gray">その他ツール: Mac, Soundflower, LadioCast</p>
      </div>
    </div>
  </div>
</section>
<section id="links">
  <h2><i class="fas fa-link"></i><span>Links</span></h2>
  <div class="content">
    <div class="link">
      <div class="left font-gray">Github:</div>
      <div class="right font-gray"><a href="https://github.com/Christina-Inching-Triceps">https://github.com/Christina-Inching-Triceps</a></div>
    </div>
    <div class="link">
      <div class="left font-gray">Twitter:</div>
      <div class="right font-gray"><a href="https://twitter.com/christinaTricep">https://twitter.com/christinaTricep</a></div>
    </div>
    <div class="link">
      <div class="left font-gray">YouTube:</div>
      <div class="right font-gray"><a href="https://www.youtube.com/channel/UC7m_9bZuIScZ-u1ItTZrtLQ/videos">https://www.youtube.com/channel/UC7m_9bZuIScZ-u1ItTZrtLQ/videos</a></div>
    </div>
    <div class="link">
      <div class="left font-gray">はてなブログ:</div>
      <div class="right font-gray"><a href="https://christina-triceps.hatenablog.com/">https://christina-triceps.hatenablog.com/</a></div>
    </div>
  </div>
</section>
<div class="footer"><span>&copy; Christina.Inching.Triceps</span></div>