header
  h1.header-title Christina-Triceps' Portfolio

nav
  a(href="#works")
    i.fas.fa-dumbbell
    span Works
  a(href="#profile").profile
    i.fas.fa-user
    span Profile
  a(href="#links")
    i.fas.fa-link
    span Links

section#works
  h2
    i.fas.fa-dumbbell
    span Works
  .content
    .card
      .title Play Frameworkハンズオン
      img(src="/assets/images/handson.png")
      .about
        | Play Frameworkでの開発の基本を学習するためのハンズオンコンテンツです。
        br
        | Codelabs形式でコンテンツを公開しています。
        br
        a(href="https://christina-inching-triceps.github.io/codelabs/play-handson-lesson1/index.html#0") Lesson1
        br
        a(href="https://christina-inching-triceps.github.io/codelabs/play-handson-lesson2/index.html#0") Lesson2
    .card
      .title storybook-for-htmlサンプル
      img(src="/assets/images/storybook.png")
      .about
        | storybook-for-htmlの構築サンプルです。
        br
        | 実運用で現実的に利用できるように調整中になります。

section#profile
  h2
    i.fas.fa-user
    span Profile
  .content


section#links
  h2
    i.fas.fa-link
    span Links
  .content


